:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --primary-white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
/* Header */
.page-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}
.container.header-nav {
  display: flex;
  align-items: center;
}
/* Main nav */
.main-nav {
  display: flex;
  align-items: center;
}
/* Logo */
.logo {
  margin-right: 95px;
  padding: 24px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
}
.logo .accent {
  color: var(--accent-color);
}
/* Site nav */
.site-nav {
  display: flex;
}
.site-nav .list-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .list-item {
  padding: 32px 0;
}
.contacts .list-item:not(:last-child) {
  margin-right: 50px;
}
.contacts .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin: 0 auto 30px;
  max-width: 695px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hidden {
  display: none;
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}
.button.primary {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
/* features section */
.features-list {
  display: flex;
}
.features-list .item {
  width: 270px;
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}
.features-list .list-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.features-list .text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* About us section */
.about-us.section {
  padding-top: 0;
}
.about-us-list {
  display: flex;
}
.about-us-list .item:not(:last-child) {
  margin-right: 30px;
}
.about-us-list .img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Our team section */
.our-team {
  background-color: var(--primary-background-color);
}
.our-team.section {
  padding-top: 0;
}
.our-team-list {
  display: flex;
}
.our-team-list .card-content {
  padding: 30px 0;
}
.our-team-list .list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-list .list-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-list .list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}
.our-team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
/* Footer */
.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0 60px;
}
.secondary.logo {
  padding: 0;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.address .link {
  font-style: normal;
  line-height: 1.71;
  color: var(--address-text-color);
}
.address .item:not(:last-child) {
  margin-bottom: 9px;
}
.address .map.link {
  color: var(--primary-white-color);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
/* Portfolio */
.portfolio.section {
  background-color: var(--primary-white-color);
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .item:not(:last-child) {
  margin-right: 8px;
}
.button.secondary {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
}
.examples-list .card-content {
  padding: 20px 24px;
}
.examples-list .item {
  max-width: 370px;
  border: 1px solid #eeeeee;
}
.examples-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.examples-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.examples-list .list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-list .text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
